In [3]:
import pandas as pd
import numpy as np

In [8]:
#+++++ Reading: data set +++++
print("Reading the data set\n")

name_file = "/home/xibelly/Escritorio/file.csv"

BD = pd.read_csv(name_file)
N = len(BD)

print(N)
#nrow(BD[UBICACION_DE_LA_OFICINA == 'CALIFORNIA', ])

Reading the data set

8000

In [11]:
display(BD)

,RECORD_CREATION_DATE,MONTO_DEL_PRESTAMO,RANGO_DEL_CREDITO,DEUDA_EXISTENTE,NOTAS_DEL_AGENTE,UBICACION_DE_LA_OFICINA,PRESTAMO_INCUMPLIDO
0,01May2014:09:24:27.000000,2500,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
1,01May2014:09:48:36.000000,2500,700-719,"$1-$10,000","Ingreso anual neto: $25,400",SOUTHERN CALIFORNIA,FALSO
2,01May2014:10:10:36.000000,6300,740-759,"$100,000+",NaN,ARIZONA,VERDADERO
3,01May2014:10:31:25.000000,4300,780-799,"$1-$10,000","Ingreso anual neto: $191,900",SOUTHERN CALIFORNIA,FALSO
4,01May2014:10:46:54.000000,20100,780-799,"$90,001-$100,000","Pagos mensuales de deuda verificados: $1,700",SOUTHERN CALIFORNIA,VERDADERO
5,01May2014:11:14:12.000000,6600,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
6,01May2014:11:23:11.000000,2500,700-719,"$100,000+","Ingreso anual neto: $63,100",ARIZONA,VERDADERO
7,01May2014:11:53:24.000000,10000,760-779,"$20,001-$30,000",NaN,SOUTHERN CALIFORNIA,FALSO
8,01May2014:12:18:53.000000,8900,740-759,"$80,001-$90,000",NaN,NORTHERN CALIFORNIA,FALSO
9,01May2014:12:32:41.000000,2500,760-779,"$30,001-$40,000",Pagos mensuales de deuda verificados: $590...I...,NORTHERN CALIFORNIA,FALSO
10,01May2014:12:52:26.000000,13000,720-739,"$10,001-$20,000",NaN,SOUTHERN CALIFORNIA,FALSO
11,01May2014:12:59:04.000000,2500,780-799,"$10,001-$20,000","Ingreso mensual neto 16,670",NORTHERN CALIFORNIA,VERDADERO
12,01May2014:13:29:21.000000,11000,700-719,"$70,001-$80,000",NaN,NORTHERN CALIFORNIA,FALSO
13,01May2014:13:50:52.000000,35000,760-779,"$1-$10,000","Ingreso anual neto: $15,000",OREGON,FALSO
14,01May2014:13:57:11.000000,5900,780-799,"$20,001-$30,000",NaN,SOUTHERN CALIFORNIA,FALSO
15,01May2014:14:29:59.000000,2500,760-779,"$1-$10,000",NaN,WASHINGTON STATE,FALSO
16,01May2014:14:53:53.000000,2500,780-799,"$1-$10,000","Ingreso anual neto: $17,300",ARIZONA,FALSO
17,01May2014:15:07:34.000000,7600,700-719,"$20,001-$30,000","Ingreso mensual neto 1,250",WASHINGTON STATE,FALSO
18,01May2014:15:17:40.000000,2900,760-779,"$40,001-$50,000",NaN,WASHINGTON STATE,VERDADERO
19,01May2014:15:23:38.000000,3000,740-759,NaN,NaN,SOUTHERN CALIFORNIA,FALSO
20,01May2014:15:38:11.000000,5100,700-719,"$60,001-$70,000","Ingreso anual neto: $58,300",SOUTHERN CALIFORNIA,FALSO
21,01May2014:15:58:39.000000,2500,780-799,NaN,El cliente no tiene deuda...Ingreso anual neto...,ARIZONA,VERDADERO
22,01May2014:16:26:10.000000,2500,740-759,"$20,001-$30,000","Ingreso mensual neto 4,150",ARIZONA,FALSO
23,01May2014:16:54:47.000000,2900,740-759,"$60,001-$70,000",NaN,OREGON,FALSO
24,01May2014:17:21:12.000000,2500,760-779,NaN,NaN,OREGON,VERDADERO
25,01May2014:17:35:40.000000,9100,740-759,"$30,001-$40,000","Ingreso anual neto: $23,000",SOUTHERN CALIFORNIA,FALSO
26,01May2014:17:50:40.000000,9800,720-739,"$50,001-$60,000",Pagos mensuales de deuda verificados: $870...I...,NEVADA,FALSO
27,01May2014:18:14:03.000000,6900,700-719,"$30,001-$40,000",Pagos mensuales de deuda verificados: $550...I...,NEVADA,VERDADERO
28,01May2014:18:25:20.000000,5300,700-719,NaN,NaN,ARIZONA,FALSO
29,01May2014:18:38:45.000000,2800,780-799,"$30,001-$40,000",NaN,NORTHERN CALIFORNIA,FALSO
...,...,...,...,...,...,...,...
7970,06May2015:18:52:19.000000,2700,760-779,"$100,000+","Ingreso mensual neto 16,670",SOUTHERN CALIFORNIA,VERDADERO
7971,07May2015:09:01:13.000000,4400,760-779,"$1-$10,000","Ingreso anual neto: $15,000",NORTHERN CALIFORNIA,VERDADERO
7972,07May2015:09:11:16.000000,9800,740-759,"$100,000+",NaN,NORTHERN CALIFORNIA,FALSO
7973,07May2015:09:17:22.000000,2900,800+,"$1-$10,000","Ingreso mensual neto 3,240",NEVADA,FALSO
7974,07May2015:09:27:25.000000,2500,740-759,"$1-$10,000","Ingreso anual neto: $19,700",SOUTHERN CALIFORNIA,VERDADERO
7975,07May2015:10:00:43.000000,13700,740-759,"$1-$10,000","Ingreso anual neto: $16,400",NEVADA,FALSO
7976,07May2015:10:13:50.000000,2500,760-779,"$40,001-$50,000",Pagos mensuales de deuda verificados: $700,NORTHERN CALIFORNIA,FALSO
7977,07May2015:10:32:10.000000,2500,740-759,NaN,"Ingreso mensual neto 9,570...El cliente no tie...",NORTHERN CALIFORNIA,VERDADERO
7978,07May2015:10:39:21.000000,35000,720-739,"$10,001-$20,000","Ingreso mensual neto 1,410",NEVADA,FALSO
7979,07May2015:11:09:10.000000,6100,760-779,"$100,000+","Pagos mensuales de deuda verificados: $1,980.....",ARIZONA,FALSO
7980,07May2015:11:33:06.000000,3300,780-799,"$20,001-$30,000",NaN,ARIZONA,FALSO
7981,07May2015:11:44:03.000000,2500,720-739,NaN,El cliente no tiene deuda,NEVADA,VERDADERO
7982,07May2015:11:55:46.000000,3700,720-739,"$30,001-$40,000",NaN,NORTHERN CALIFORNIA,FALSO
7983,07May2015:12:01:37.000000,4100,800+,NaN,El cliente no tiene deuda,ARIZONA,FALSO
7984,07May2015:12:22:46.000000,2500,700-719,"$80,001-$90,000",NaN,NORTHERN CALIFORNIA,FALSO
7985,07May2015:12:53:01.000000,6700,800+,NaN,"Ingreso mensual neto 7,960...El cliente no tie...",SOUTHERN CALIFORNIA,VERDADERO
7986,07May2015:13:21:02.000000,4500,780-799,"$100,000+","Ingreso anual neto: $200,000",NORTHERN CALIFORNIA,VERDADERO
7987,07May2015:13:29:00.000000,12400,760-779,NaN,"Ingreso anual neto: $68,300",NORTHERN CALIFORNIA,VERDADERO
7988,07May2015:13:37:23.000000,4300,740-759,"$1-$10,000",NaN,ARIZONA,VERDADERO
7989,07May2015:13:58:59.000000,3400,700-719,"$20,001-$30,000",NaN,ARIZONA,FALSO
7990,07May2015:14:08:44.000000,7000,700-719,"$30,001-$40,000","Ingreso mensual neto 1,430",OREGON,VERDADERO
7991,07May2015:14:16:56.000000,5200,740-759,"$60,001-$70,000",NaN,NORTHERN CALIFORNIA,FALSO
7992,07May2015:14:43:58.000000,2500,720-739,"$20,001-$30,000","Ingreso mensual neto 1,660",NORTHERN CALIFORNIA,VERDADERO
7993,07May2015:15:10:02.000000,4400,700-719,"$30,001-$40,000","Ingreso mensual neto 1,790",OREGON,VERDADERO
7994,07May2015:15:44:07.000000,7400,740-759,"$20,001-$30,000",NaN,ARIZONA,FALSO
7995,07May2015:16:04:54.000000,3500,700-719,NaN,El cliente no tiene deuda...Ingreso anual neto...,SOUTHERN CALIFORNIA,FALSO
7996,07May2015:16:38:22.000000,2500,700-719,"$1-$10,000",Pagos mensuales de deuda verificados: $10,SOUTHERN CALIFORNIA,VERDADERO
7997,07May2015:17:04:07.000000,2500,780-799,"$10,001-$20,000","Ingreso mensual neto 2,870",SOUTHERN CALIFORNIA,FALSO
7998,07May2015:17:37:18.000000,2500,800+,NaN,El cliente no tiene deuda,NEVADA,VERDADERO
7999,07May2015:17:52:58.000000,2500,740-759,"$40,001-$50,000",NaN,NORTHERN CALIFORNIA,VERDADERO

In [22]:
new = BD["UBICACION_DE_LA_OFICINA"].isin(["NORTHERN CALIFORNIA"])

#BD[new].count()
new = BD[['UBICACION_DE_LA_OFICINA'] == 'NORTHERN CALIFORNIA']
new.count()

KeyError: False

In [19]:
new.count()

8000